@media screen and (max-width: 768px) {
    
  .quick_search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .button-section{
 
    flex-direction: column;
   
   
  }
  .computer_image {
    width: 10em;
    position: relative;
    left: 0;
    overflow: none;
  }
  .detail {
    margin-top: 3rem;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
  .child_detail {
    padding-left: 0;
  }
  .computer_img {
    width: 20rem;
  }
  .dashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5rem;
  }
  .company_logo {
    margin: 5rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
  }
  footer{ 
    padding: 20px 0; 
    text-align: center;
    flex-direction:column;
    gap: 20px;
  }
  .footer_section { 
    flex-direction: column;
    gap: 20px;
  }
}
